aiofiles
aiohttp
apscheduler
#asyncio==3.4.3
bard
beautifulsoup4
bs4
bing_image_downloader 
cloudscraper
deepai
dnspython
emojis
ffmpeg-python
Faker
future==0.18.3
git+https://github.com/AsmSafone/SafoneAPI
gitpython
geopy
gpytranslate
gtts
hachoir
heroku3
httpx==0.27.0
httpx[http2]
img2pdf
instaloader
lexica-api
motor==3.3.2 
MukeshAPI
numpy
openai==0.28.0
opencv-python
pillow==9.5.0
psutil
pickledb
pornhub-api==0.3.0
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
git+https://github.com/doraemon890/pyrogram
python-dotenv
python-telegram-bot==21.1.1
python-whois
pyshorteners
pyttsx3
pytz
pytube
py-tgcalls==0.9.7
pyyaml==6.0.1
pymongo==4.6.3
python-dotenv
qrcode
requests
SafoneAPI==1.0.65
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
telethon==1.33.1
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
